@tailwind base;

@layer base {
  html {
    @apply font-rubik text-[18px] text-black-dark;
  }
}

@tailwind components;

@layer components {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@tailwind utilities;
